- products.each do |p|
  .info.product-unit.stacked
    .product-basics
      %h3.product-title
        %span.product-name=p[:name]
        %span.product-rate (#{p[:rate]}%)
      .product-actions.show-more
        %a.show-more{:href => "##{dasherize(p[:name])}-details"}
          %span Show
          details
      %h3.product-balance
        £#{p[:balance]}
    .cB
    .product-expand{:id => "#{dasherize(p[:name])}-details"}
      .product-summary
        %table.lending-summary
          %thead.a11y
            %tr
              %th Amount
              %th Description
          %tbody
            %tr
              %td
                %p
                  = "Matching to borrowers"
              %td.number
                %strong= number_to_currency p[:matched].to_f, precision: 2
            %tr
              %td
                %p
                  = "Repayments queued"
              %td.number
                %strong= number_to_currency p[:r_queued].to_f, precision: 2
            %tr
              %td
                %p
                  = "New money queued"
              %td.number
                %strong= number_to_currency p[:n_queued].to_f, precision: 2
      .row.group.lending_glance
        .col.info.box
          %h3 #{p[:rate].to_f}%
          %p= "average on money lent out"
        .col.info.box
          %h3= number_to_currency p[:lentout].to_f, precision: 2
          %p= "currently lent out"
