<% active_item = defined?(highlight) ? highlight : 0 %>
<% if @audience == :lenders %>
  <% if @loggedin %>

    <ul>
      <li <%= active_item == 1 ? 'class="active"' : '' %>><a href="/404.html">Dashboard</a></li>
      <li <%= active_item == 2 ? 'class="active"' : '' %>><a href="/404.html">Statements</a></li>
      <li <%= active_item == 3 ? 'class="active"' : '' %>><a href="/404.html">Lend money</a></li>
      <li <%= active_item == 4 ? 'class="active"' : '' %>><a href="/404.html">Withdraw money</a></li>
    </ul>

  <% else %>

    <ul>
      <li <%= active_item == 1 ? 'class="active"' : '' %>><a href="/404.html">Lending</a></li>
      <li <%= active_item == 2 ? 'class="active"' : '' %>><a href="/404.html">How lending works</a></li>
      <li <%= active_item == 3 ? 'class="active"' : '' %>><a href="/404.html">Who are Zopa?</a></li>
      <li <%= active_item == 4 ? 'class="active"' : '' %>><a href="/404.html">Why choose us?</a></li>
    </ul>

  <% end %>
<% else %>

  <% if @loggedin %>

    <ul>
      <li <%= active_item == 1 ? 'class="active"' : '' %>><a href="/404.html">Dashboard</a></li>
      <li <%= active_item == 2 ? 'class="active"' : '' %>><a href="/404.html">FAQs</a></li>
      <li <%= active_item == 3 ? 'class="active"' : '' %>><a href="/404.html">Top ups</a></li>
      <li <%= active_item == 4 ? 'class="active"' : '' %>><a href="/404.html">Tell a friend</a></li>
    </ul>

  <% end %>
<% end %>
