<div id="screen-mode"></div><!-- helper to detect CSS media query in JS -->

<%#= livereload_js if ENV["RACK_ENV"] != "production" %>
<%= javascript_include_tag "focus" %>
<%= javascript_include_tag "jquery.aria" %>
<%= javascript_include_tag "mobile" %>
<%= javascript_include_tag "equal_heights" %>
<%= javascript_include_tag "currency_helper" %>
<%= javascript_include_tag "stuff" %>
<%= javascript_include_tag "app" %>

<% if content_for? :scripts %>
  <%= yield :scripts %>
<% end %>
