<div class="section">
  <div>

    <div class="loading-quote">
      <h1>Your personalised quote</h1>
      <p class="intro">Please wait a moment while we see if we need anything else...</p>
      <p>This could take up to 60 seconds, so please sit tight.</p>

      <div class="group waiting">
        <img alt="" height="64" src="/_assets/img/waiting_big.gif" width="64" />
      </div>
    </div>

    <div class="loan-quote-stuff">
      <div class="row group loan-quote equalHeights">
        <div class="col group">
          <div class="result box" style="min-height: 488px;">
            <h2>Your loan quote</h2>
            <p>Subject to approval:</p>
            <div class="quote wrapper">
              <table class="quote-table">
                <tbody><tr>
                  <th>Amount</th>
                  <td id="loan-amount">£10,000.00</td>
                </tr>
                <tr>
                  <th>Duration</th>
                  <td id="loan-term">5 years</td>
                </tr>
                <tr>
                  <th>Monthly cost</th>
                  <td id="loan-cost">£187.47</td>
                </tr>
                <tr>
                  <th>Rate (APR)</th>
                  <td><span id="loan-apr">4.8%</span> APR</td>
                </tr>
                </tbody></table>
            </div>

            <h3>Calculation of costs</h3>
            <div class="calculation wrapper">
              <table>
                <tbody><tr>
                  <th>Loan over 5 years</th>
                  <td id="loan-amount2">£10,000.00</td>
                </tr>
                <tr>
                  <th>Admin fee
                    <span class="tooltip" tabindex="0"><span role="tooltip" style="display: none;">
                      The cost of the admin fee is included in your £187.47 monthly repayments, no upfront payment is required. The admin fee covers the cost of setting up and servicing your loan.
                    </span></span>
                  </th>
                  <td>+ <span id="admin-fee">£90.00</span></td>
                </tr>

                <tr class="sum">
                  <th>Total loan amount</th>
                  <td id="total-amount">£10,090.00</td>
                </tr>
                <tr>
                  <th>Interest at 4.5% fixed</th>
                  <td>+&nbsp;£1,158.46</td>
                </tr>

                <tr class="sum">
                  <th><strong>Total cost</strong></th>
                  <td id="total-cost">£11,248.46</td>
                </tr>
                </tbody></table>
            </div>
            <p id="button-to-application" class="only-screensize-xs">
              <a class="button" href="#continue-application">Apply for this loan</a>
            </p>
          </div>

        </div>

        <div class="col">

          <ul class="nav-tabs group offer-tabs">
            <li >
              <a href="#2_years">2 years</a>
            </li>
            <li>
              <a href="#3_years">3 years</a>
            </li>
            <li>
              <a href="#4_years">4 years</a>
            </li>
            <li class="active">
              <a href="#5_years">5 years</a>
            </li>
          </ul>
          <div class="offers-container" style="max-height: 470px; overflow: scroll;">
            <div class="tab-content">

              <div id="2_years" class="tab-pane group">
                <table class="offers">
                  <thead>
                  <tr>
                    <th>Amount</th>
                    <th>APR</th>
                    <th>Payment</th>
                  </tr>
                  </thead>
                  <tbody>
                  <% variant = '2_year' %>
                  <% 20.downto 5 do |i| %>
                  <%
                     apr = "#{rand(2.0..7.0).round(2)}%"
                     cost = "£#{rand(150.0..500.0).round(2)}"
                  %>
                    <tr>
                      <td>
                        <label for="<%= variant %>_amount_<%= i %>">
                          <input id='<%= variant %>_amount_<%= i %>'
                                 data-amount="£<%= i %>,000.00"
                                 data-apr="<%= apr %>"
                                 data-cost="<%= cost %>"
                                 data-admin-fee="<%= "£#{rand(150.0..500.0).round(2)}"%>"
                                 data-total-amount="<%= "£#{i * 1000 + rand(150.0...300.0).round(2)}" %>"
                                 data-total-cost="<%= "£#{i * 1000 + rand(150.0...300.0).round(2)}" %>"
                                 data-interest="<%= "£#{i * 1000 + rand(150.0...300.0).round(2)}" %>"
                                 data-term="2 years"
                                 type="radio"
                                 name="quote"> £<%= i %>,000
                        </label>
                      </td>
                      <td><%= apr %></td>
                      <td><%= cost %></td>
                    </tr>
                  <% end %>
                  </tbody>
                </table>
              </div>

              <div id="3_years" class="tab-pane group">
                <table class="offers">
                  <thead>
                  <tr>
                    <th>Amount</th>
                    <th>APR</th>
                    <th>Payment</th>
                  </tr>
                  </thead>
                  <tbody>
                  <% variant = '3_year' %>
                  <% 20.downto 5 do |i| %>
                    <%
                       apr = "#{rand(2.0..7.0).round(2)}%"
                       cost = "£#{rand(150.0..500.0).round(2)}"
                    %>
                    <tr>
                      <td>
                        <label for="<%= variant %>_amount_<%= i %>">
                          <input id='<%= variant %>_amount_<%= i %>'
                                 data-amount="£<%= i %>,000.00"
                                 data-apr="<%= apr %>"
                                 data-cost="<%= cost %>"
                                 data-admin-fee="<%= "£#{rand(150.0..500.0).round(2)}"%>"
                                 data-total-amount="<%= "£#{i * 1000 + rand(150.0...300.0).round(2)}" %>"
                                 data-total-cost="<%= "£#{i * 1000 + rand(150.0...300.0).round(2)}" %>"
                                 data-interest="<%= "£#{i * 1000 + rand(150.0...300.0).round(2)}" %>"
                                 data-term="3 years"
                                 type="radio"
                                 name="quote"> £<%= i %>,000
                        </label>
                      </td>
                      <td><%= rand(2.0..7.0).round(2) %>%</td>
                      <td>£<%= rand(150.0..500.0).round(2) %></td>
                    </tr>
                  <% end %>
                  </tbody>
                </table>
              </div>
              <div id="4_years" class="tab-pane group">
                <table class="offers">
                  <thead>
                  <tr>
                    <th>Amount</th>
                    <th>APR</th>
                    <th>Payment</th>
                  </tr>
                  </thead>
                  <tbody>
                  <% variant = '4_year' %>
                  <% 20.downto 5 do |i| %>
                    <%
                       apr = "#{rand(2.0..7.0).round(2)}%"
                       cost = "£#{rand(150.0..500.0).round(2)}"
                    %>
                    <tr>
                      <td>
                        <label for="<%= variant %>_amount_<%= i %>">
                          <input id='<%= variant %>_amount_<%= i %>'
                                 data-amount="£<%= i %>,000.00"
                                 data-apr="<%= apr %>"
                                 data-cost="<%= cost %>"
                                 data-admin-fee="<%= "£#{rand(150.0..500.0).round(2)}"%>"
                                 data-total-amount="<%= "£#{i * 1000 + rand(150.0...300.0).round(2)}" %>"
                                 data-total-cost="<%= "£#{i * 1000 + rand(150.0...300.0).round(2)}" %>"
                                 data-term="4 years"
                                 type="radio"
                                 name="quote"> £<%= i %>,000
                        </label>
                      </td>
                      <td><%= rand(2.0..7.0).round(2) %>%</td>
                      <td>£<%= rand(150.0..500.0).round(2) %></td>
                    </tr>
                  <% end %>
                  </tbody>
                </table>
              </div>
              <div id="5_years" class="tab-pane active group">
                <table class="offers">
                  <thead>
                  <tr>
                    <th>Amount</th>
                    <th>APR</th>
                    <th>Payment</th>
                  </tr>
                  </thead>
                  <tbody>
                  <% variant = '5_year' %>
                  <% 20.downto 5 do |i| %>
                    <%
                       apr = "#{rand(2.0..7.0).round(2)}%"
                       cost = "£#{rand(150.0..500.0).round(2)}"
                    %>
                    <tr>
                      <td>
                        <label for="<%= variant %>_amount_<%= i %>">
                          <input id='<%= variant %>_amount_<%= i %>'
                                 <%= i == 10 ? 'checked=checked' : '' %>
                                 data-amount="£<%= i %>,000.00"
                                 data-apr="<%= apr %>"
                                 data-cost="<%= cost %>"
                                 data-admin-fee="<%= "£#{rand(150.0..500.0).round(2)}"%>"
                                 data-total-amount="<%= "£#{i * 1000 + rand(150.0...300.0).round(2)}" %>"
                                 data-total-cost="<%= "£#{i * 1000 + rand(150.0...300.0).round(2)}" %>"
                                 data-term="5 years"
                                 type="radio"
                                 name="quote"> £<%= i %>,000
                        </label>
                      </td>
                      <td><%= rand(2.0..7.0).round(2) %>%</td>
                      <td>£<%= rand(150.0..500.0).round(2) %></td>
                    </tr>
                  <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="box zopa-promise">
        <p class="right"><img width="100" height="100" alt="Zopa Promise" src="/_assets/img/promo/zopa-promise.png"></p>
        <p>We know we do things better:</p>
        <ul class="ticked">
          <li>Speedy online application form</li>
          <li>Award-winning customer service</li>
          <li>No hidden or early repayment fees</li>
        </ul>
        <p class="hint">If you experience otherwise, claim £100 as part of our Zopa Promise. <a href="#zopa-promise">Tell me more</a></p>
      </div>
      <p><a class="button" href="#">Continue with this loan quote</a></p>
    </div>

  </div>
</div>

<script type="text/javascript" charset="utf-8">
  $().ready(function () {
    var $quote = $('.loan-quote-stuff'),
      $loader = $('.loading-quote'),
      $loanAmount = $('#loan-amount, #loan-amount2'),
      $loanTerm = $('#loan-term'),
      $loanCost = $('#loan-cost'),
      $loanApr = $('#loan-apr'),
      $adminFee = $('#admin-fee'),
      $totalAmount = $('#total-amount'),
      $totalCost = $('#total-cost'),
      showQuote = function () {
        $quote.show();
        $loader.hide();
      };

    $('input').on('change', function () {
      $loanAmount.text($(this).data('amount'));
      $loanTerm.text($(this).data('term'));
      $loanCost.text($(this).data('cost'));
      $loanApr.text($(this).data('apr'));
      $adminFee.text($(this).data('admin-fee'));
      $totalAmount.text($(this).data('total-amount'));
      $totalCost.text($(this).data('total-cost'));
    });


    var timeoutID = window.setTimeout(showQuote, 200)
  });
</script>


<style>
  .loan-quote-stuff {
    display: none;
  }
  @media only screen and (max-width: 601px) {
    div.box.zopa-promise {
      padding: 0;
    }
  }

  @media screen {
    .loan-quote table {
      width: 100%;
      border: 0;
      margin-bottom: 0;
    }

    .loan-quote table td {
      text-align: right;
      color: #8c9500;
      font-weight: 600;
      padding-right: 0;
    }

    .loan-quote .result.box {
      padding-bottom: 0;
    }

    .loan-quote .explanation.box {
      padding: 0;
      display: flex;
      align-items: center;
    }

    .loan-quote table tr.sum {
      border-top: 2px solid #C5C6C1;
    }

    .loan-quote table th {
      font-weight: normal;
      padding-left: 0;
    }

    .loan-quote table td,
    .loan-quote table th {
      border: 0;
      background-color: transparent;
    }

    .loan-quote .quote table th,
    .loan-quote .quote table td {
      border-bottom: 1px solid #fff;
    }

    .loan-quote .wrapper {
      padding-left: 1.25em;
      padding-right: 1.25em;

      margin-left: -1.25em;
      margin-right: -1.25em;
    }

    .loan-quote .wrapper.quote       { background-color: #F8FAEC; }
    .loan-quote .wrapper.calculation { background-color: rgba(245, 245, 245, 0.9); }

    .loan-quote .wrapper.calculation + p {
      margin: 1em 0;
    }

    .loan-quote + h1 {
      margin-top: 2em;
    }
    p#admin-fee {
      margin-bottom: 3em;
    }

    table.offers {
      font-size: 90%;
    }
    .offers-container {
      border-left: 2px solid #c5c6c1;
      border-right: 2px solid #c5c6c1;
      border-bottom: 2px solid #c5c6c1;
    }
    table.offers th {
      /*text-align: center;*/
      padding-left: .8em;
      font-weight: bold;
    }
    table.offers td {
      text-align: left;
    }
    .offer-tabs {
      font-size: 57%;
    }
  }
</style>


